.safe-image {
  display: inline-block;
}

.safe-image-placeholder {
  display: flex;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #ececec;
}